/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #490c31;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.8rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #d0317b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #631434;
}

a {
    color: #650e3e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #6f133c;
    outline: none;
}
